.slider {
    background-image: linear-gradient(45deg, rgb(150, 16, 15, 0.96) 20%, #6E1012 80%);
    padding: 6.51vw;
    overflow-x: hidden;
}

.project-list {
    display: flex;
    gap: 3.26vw;
    transition: transform 0.3s;
}

.slider-indicator {
    display: flex;
    gap: 0.33vw;
    width: 100%;
    justify-content: center;
    margin-top: 3.26vw;
}

.dot {
    width: 0.65vw;
    height: 0.65vw;
    border-radius: 50%;
    border: 0.13vw solid #D9D9D9;
    background-color: transparent;
    cursor: pointer;
    transition: width 0.2s, backgroundColor;
}

.dot-active {
    width: 1.63vw;
    border-radius: 0.39vw;
    background-color: #D9D9D9;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 37.1vw;
    border-radius: 1.3vw;
    background-color: white;
    padding: 0 0.98vw;
}

.image {
    width: 34.51vw;
    height: 19.07vw;
    border-radius: 0.78vw;
    margin-top: 1.3vw;
    border: 1px solid black;
}

.card-context {
    display: flex;
    align-items: center;
    gap: 13.02vw;
    padding: 0.33vw;
}

.card p {
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
}

.project-type {
    font-size: 1.56vw;
}

.side-text {
    font-size: 1.17vw;
    color: #636363;
}

.openedLink-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.26vw;
    height: 3.26vw;
    border-radius: 50%;
    background-color: #FF3636;
    border: 1px solid black;
    cursor: pointer;
}

.openedLink-container .icon {
    color: white;
    font-size: 1.63vw;
}

.popup-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 65.1vw;
    padding: 1.3vw;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px black;
    border-radius: 0.65vw;
    transition: transform 0.5s;
}

.x-mark {
    position: absolute;
    right: 1%;
    top: 2%;
}

.popup-card-content {
    display: flex;
    gap: 1.3vw;
}

.popup-card img {
    width: 39.06vw;
    height: 29.3vw;
    border: 1px solid black;
}

.project-title {
    font-weight: 600;
    font-size: 1.63vw;
}

.project-summary {
    margin-bottom: 3.25vw;
}

.project-lower-list {
    position: absolute;
    bottom: 10%;
}

.popup-card label {
    font-weight: 600;
}

.project-answer {
    padding-left: 0.65vw;
    text-decoration: none;
    color: black;
}